@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?7hn4vw");
  src: url("fonts/icomoon.eot?7hn4vw#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?7hn4vw") format("truetype"),
    url("fonts/icomoon.woff?7hn4vw") format("woff"),
    url("fonts/icomoon.svg?7hn4vw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arrow---Down-2:before {
  content: "\e900";
}
.icon-Calling:before {
  content: "\e901";
}
.icon-Facebook-1:before {
  content: "\e902";
  color: #46a358;
}
.icon-Frame:before {
  content: "\e903";
}
.icon-heart-1:before {
  content: "\e904";
}
.icon-Instagram-1:before {
  content: "\e905";
  color: #46a358;
}
.icon-Linkedin:before {
  content: "\e906";
  color: #46a358;
}
.icon-Location:before {
  content: "\e907";
}
.icon-Logout:before {
  content: "\e908";
}
.icon-Message:before {
  content: "\e909";
}
.icon-shopping-1:before {
  content: "\e90a";
  color: #46a358;
}
.icon-Twitter:before {
  content: "\e90b";
  color: #46a358;
}
.icon-Union:before {
  content: "\e90c";
  color: #46a358;
}
.icon-Vector-1:before {
  content: "\e90d";
}
.icon-Vector:before {
  content: "\e90e";
}

@font-face {
  font-family: "Cera Pro";
  src: url(../font/CeraPro-Light.woff2);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url(../font/CeraPro-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url(../font/CeraPro-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url(../font/CeraPro-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url(../font/CeraPro-Black.woff2);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.container {
  padding: 30px 120px 52px;
}
.navigation {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(70, 163, 88, 0.5);
  margin-bottom: 12px;
}
.list .punkt-spisok:hover {
  color: #3d3d3d;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: 1px solid #46a358;
}

.list {
  display: flex;
  color: #3d3d3d;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list .punkt-spisok {
  padding: 8px 25px 25px;
  color: #3d3d3d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  position: relative;
}
.dop_list {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  // margin: 12px;
  background-color: #edf6ee;
  li {
    position: relative;
    max-width: 180px;
    padding: 13px;
    color: #3d3d3d;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: space-between;
  }
}
.dop_list > li:hover {
  background-color: #1a712a;
  color: #fff;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-punkt:hover .dop_list {
  display: block;
}
// #action {
//   padding: 8px 0 25px;
//   color: #3d3d3d;
//   font-family: "Cera Pro";
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: normal;
//   border-bottom: 1px solid #46a358;
// }
.hidden-list {
  z-index: 1;
  position: absolute;
  top: -140px;
  left: 100%;
  display: none;
  // margin: 2px;
  background-color: #edf6ee;
  li {
    max-width: 180px;
    padding: 13px;
    color: #3d3d3d;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.dop_main-punkt:hover .hidden-list {
  display: block;
}
.hidden-list > li:hover {
  background-color: #1a712a;
  color: #fff;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.button_login {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  background-color: #46a358;
  padding: 8px 17px;
  border-radius: 6px;
  gap: 4px;
  transition: all 0.7s ease-in-out 0.2s;
}
.button_login:hover {
  font-size: 18px;
  background-color: #398348;
  padding: 10px 19px;
}
header {
  background: linear-gradient(
    98deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
  background-image: url(../images/01\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 90% top 0%;
}
.header {
  display: flex;
  gap: 93px;
  background-image: url(../images/01\ 2.png);
  background-repeat: no-repeat;
  background-position: left 70% top 94%;
}
.header_text {
  padding: 68px 40px 85px;
  max-width: 50%;
}
.Welcome {
  /* padding: 68px 40px 7px; */
  color: #3d3d3d;
  font-family: "Cera Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.title {
  color: #3d3d3d;
  font-family: "Cera Pro";
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  margin-top: 7px;
  line-height: 70px;
  text-transform: uppercase;
}
.green_text {
  color: #46a358;
}
.description {
  color: #727272;
  font-family: "Cera Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 5px 0 44px 0;
}
.button_shop {
  text-decoration: none;
  color: #fff;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 11px 27px;
  border-radius: 6px;
  background: #46a358;
  transition: all 0.7s ease-in-out 0.2s;
}
.button_shop:hover {
  border-radius: 50px;
  padding: 14px 30px;
  background: #3d3d3d;
}
.main-plants {
  position: relative;
  max-width: 518px;
  height: 470px;
}
.big_plant {
  display: block;
  max-width: 100%;
  height: 100%;
}
.plant {
  position: absolute;
  top: 315px;
  left: 55px;
}

aside {
  background-color: #fbfbfb;
  max-width: 310px;
}
.main {
  display: flex;
  padding-top: 46px;
  gap: 50px;
}
.img_plant {
  margin-left: -29px;
}
.categories {
  padding: 14px 18px 377px;
}
.categories_title {
  color: #3d3d3d;
  font-family: "Cera Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  padding: 0px 0px 10px 30px;
}
.categories_list {
  padding: 7px 12px 0;
  color: #3d3d3d;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  font-family: "Cera Pro";
}
.action_item {
  color: #46a358;
}
.main-list_ul {
  display: flex;
  gap: 38px;
  color: #3d3d3d;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  font-family: "Cera Pro";
}
.main_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
}
.main-list_ul li:first-child {
  color: #46a358;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  font-family: "Cera Pro";
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
}
.second_list {
  display: flex;
  align-items: center;
  color: #3d3d3d;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  font-family: "Cera Pro";
  gap: 8px;
}
.product_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 33px;
  row-gap: 70px;
  max-width: 100%;
}
.product_card {
  flex: 0 0 calc((100% - 66px) / 3);
  max-width: calc((100% - 66px) / 3);
  box-sizing: border-box;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 350px;
  position: relative;
  border-top: 1px solid transparent;
  // transition: border-color 0.3s ease;
}
.product-card_description {
  color: #3d3d3d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  font-family: "Cera Pro";
  margin-top: 30px;
  display: block;
}
.product-card_price {
  display: block;
  color: #46a358;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  font-family: "Cera Pro";
}
.page_number {
  text-decoration: none;
  color: #3d3d3d;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  font-family: "Cera Pro";
  padding: 10px 12px 9px 13px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}
.page_number-active {
  color: #fff;
  font-family: "Cera Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  border-radius: 4px;
  background: #46a358;
}
.page_numbers {
  display: flex;
  gap: 10px;
  justify-content: end;
}
.product-card_img {
  display: block;
}
.dropdown-list {
  position: absolute;
  top: 75%;
  left: 35%;
  display: none;
}
.dropdown-list > ul {
  display: flex;
  gap: 26px;
}
.product_card:hover .dropdown-list {
  display: flex;
}
.product_card:hover {
  // border-top: 1px solid #46a358;
  border-color: #46a358;
}
.card_prices {
  display: flex;
  gap: 18px;
  margin-top: 6px;
}
.product-card_sale {
  color: #a5a5a5;
  font-family: "Cera Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-decoration: line-through;
}
.discount-die {
  background-color: #46a358;
  position: absolute;
  top: 0;
  left: 0;
}
.discount-die > p {
  color: #fff;
  font-family: "Cera Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 6px 9px;
}
.second-block {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
}
.summer-product {
  background: #fbfbfb;
  text-align: right;
  max-width: 586px;
  display: flex;

  // h2 {
  //   color: #3d3d3d;
  //   font-family: "Cera Pro";
  //   font-size: 18px;
  //   font-style: normal;
  //   font-weight: 900;
  //   line-height: 24px;
  //   text-transform: uppercase;
  //   margin: 37px 30px 0 0;
  // }
  // p {
  //   color: #727272;
  //   font-family: "Cera Pro";
  //   font-size: 14px;
  //   font-style: normal;
  //   font-weight: 400;
  //   line-height: 24px;
  //   margin: 10px 30px 25px 0;
  // }
  // a {
  //   text-decoration: none;
  //   color: #fff;
  //   font-family: "Cera Pro";
  //   font-size: 14px;
  //   font-style: normal;
  //   font-weight: 500;
  //   line-height: 20px;
  //   border-radius: 6px;
  //   background: #46a358;
  //   padding: 8px 17px;
  //   margin: 0 30px 46px 0;
  // }
  // img {
  //   position: relative;
  // }
}
.summer-product_text {
  h2 {
    color: #3d3d3d;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    margin: 37px 30px 0 0;
  }
  p {
    color: #727272;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 30px 25px 0;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-radius: 6px;
    background: #46a358;
    padding: 10px 20px;
    margin: 0 30px 46px 0;
    transition: 0.7s ease-in-out 0.2s;
  }
  img {
    position: relative;
  }
}
.find:hover {
  padding: 8px 17px;
  background: #46a3595b;
  border-radius: 50px;
}
.our-blog {
  padding-top: 140px;
}
.blog-text {
  h2 {
    color: #3d3d3d;
    text-align: center;
    font-family: "Cera Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
  p {
    color: #727272;
    text-align: center;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 0 35px 0;
  }
}
#sale-green {
  color: #46a358;
  font-family: "Cera Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 9px 0 4px 15px;
}
.blog-plants {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.blog-plant {
  background: #fbfbfb;
  max-width: 268px;
  h2 {
    color: #3d3d3d;
    font-family: "Cera Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding-left: 15px;
  }
  p {
    color: #727272;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 4px 0 9px 15px;
  }
  a {
    padding: 0 0 13px 15px;
    display: flex;
    text-decoration: none;
    color: #3d3d3d;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    gap: 3px;
  }
}
.blog-plant a:hover {
  color: #46a358;
}
.would {
  display: flex;
  justify-content: space-between;
}
.green-line {
  border-right: 1px solid rgba(70, 163, 88, 0.1);
}
.advantages {
  // width: 20%;
  padding: 19px 34px 23px 15px;
  h2 {
    color: #3d3d3d;
    font-family: "Cera Pro";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding: 17px 0 9px 0;
  }

  p {
    color: #727272;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    // padding: 0 0 23px 15px;
  }
}
.registration-would {
  // width: 40%;
  h2 {
    color: #3d3d3d;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding: 31px 0 18px 0;
  }
  p {
    color: #727272;
    font-family: "Cera Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 17px 0 32px 0;
    max-width: 354px;
  }
  a {
    text-decoration: none;
    padding: 12px 26px;
    border-radius: 0 6px 6px 0;
    background: #46a358;
    color: #fff;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    transition: all 0.7s ease-in-out 0.2s;
  }
}
.join:hover {
  background: radial-gradient(#46a358, #64e77e);
  color: #000000;
}
.pole {
  max-width: 200px;
  padding: 12px 86px 12px 11px;
  border: none;
  color: #acacac;
  font-family: "Cera Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
footer {
  background: #fbfbfb;
}
.contacts {
  background: rgba(70, 163, 88, 0.1);
  display: flex;
  gap: 60px;
}
.contacte {
  p {
    color: #3d3d3d;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  display: flex;
  align-items: center;
  gap: 9px;
}
.logo-footer {
  padding: 27px 27px 27px 23px;
}
.info {
  display: flex;
  gap: 145px;
  h2 {
    color: #3d3d3d;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding: 33px 0 0 23px;
  }
  li {
    color: #3d3d3d;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  ul {
    padding: 8px 0 29px 23px;
  }
  .media-and-money {
    h2 {
      padding: 33px 0 20px 23px;
    }
    a {
      padding: 8px;
      border-radius: 4px;
      border: 1px solid rgba(70, 163, 88, 0.2);
      margin: 20px 0 33px 10px;
      transition: all 0.7s ease-in-out 0.2s;
    }
  }
  .media-plotforma:hover {
    border: 1.5px solid rgb(235, 234, 234);
    padding: 12px;
  }
}

.social-icons {
  padding-left: 13px;
}

.carts {
  padding-left: 23px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  img {
    width: 40px;
  }
}

.popup {
  z-index: 3;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  p {
    color: #3d3d3d;
    font-family: "Cera Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
}
.enter {
  color: #3d3d3d;
  font-family: "Cera Pro";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.crossImage {
  display: flex;
  margin-left: auto;
  padding: 1rem;
}
.popup_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  min-width: 300px;
  max-width: 500px;
  width: 90%;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#open-modal:target {
  opacity: 1;
  pointer-events: auto;
  background: rgba($color: #000000, $alpha: 0.5);
}
#closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}
#openBtn {
  text-decoration: none;
}
.popup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.openBtn {
  border: none;
  background-color: #46a358;
  border-radius: 0.5rem;
  padding: 16px 118px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
.main_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 20px;
}
.different_color {
  color: #46a358;
}
.main_logo p {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}
.form {
  display: grid;
  gap: 16px;
  margin-top: 10px;
  color: #3d3d3d;
}
.text-with-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  color: #3d3d3d;
}
.register_social {
  display: grid;
  gap: 15px;
  padding-top: 25px;
}
.pole-voda {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  color: #a5a5a5;
  font-family: "Cera Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.footer {
  height: 10px;
  width: 100%;
  background-color: #46a358;
}
.container {
  padding: 40px 100px;
}
.btn-social {
  padding: 10px 20px;
  background-color: white;
  border-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 0.5rem;
  color: #727272;
  text-align: center;
  font-family: "Cera Pro";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.submit {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: #46a358;
  border-radius: 0.5rem;
  padding: 16px 15px;
  font-family: "Cera Pro";
  line-height: 16px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
.input-container {
  position: relative;
}

input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  max-width: 20px;
}
@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .openBtn {
    padding: 12px 40px;
  }
}
.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}
.custom-check-icon {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 150px;
  color: #3d3d3d;
  font-family: "Cera Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
// .custom-check-icon::before {
//   content: "";
//   position: absolute;
//   color: #46a358;
//   width: 140px;
//   font-family: "Cera Pro";
//   font-size: 15px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: 40px;
// }
.custom-checkbox input:checked ~ .custom-check-icon {
  color: #46a358;
  font-weight: 700;
}

.custom-checkbox input {
  display: none;
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

.ball-one {
  background-color: #46a358;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: go-right 1s ease-in-out 0s 3 alternate forwards;
}
.burger-lable {
  display: none;
}
#burger-toggle {
  display: none;
}
@keyframes go-right {
  0% {
    transform: translate(-10px);
  }
  100% {
    transform: translate(70px);
    background-color: #74e48a;
    z-index: 1;
  }
}
.ball-two {
  background-color: #74e48a;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: go-left 1s ease-in-out 0s 3 alternate forwards;
}
@keyframes go-left {
  0% {
    transform: translate(10px);
  }
  100% {
    transform: translate(-70px);
    background-color: #46a358;
    z-index: 0;
  }
}
.preloader.hidden {
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 1200px) {
  .popup {
    width: 100vw;
  }
  .container {
    padding: 30px 70px 52px;
  }
  .title {
    font-size: 60px;
    line-height: 60px;
  }
  header {
    background-position: left 100% top 0%;
  }
  .header {
    background-position: left 67% top 95%;
  }
  .main {
    gap: 30px;
  }
  .blog-plants {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .blog-plant {
    max-width: 600px;
  }
  .blog-plant-img {
    width: 430px;
  }
  .info .media-and-money a {
    margin: 0px;
  }
}
@media screen and (max-width: 992px) {
  header {
    background-position: left 110% top 95%;
    background-size: 450px;
  }
  .header {
    background-size: 120px;
  }
  .title {
    font-size: 50px;
    line-height: 50px;
  }
  .Welcome {
    font-size: 12px;
  }
  .description {
    font-size: 12px;
    margin: 5px 0 35px 0;
  }
  aside {
    max-width: 240px;
  }
  .img_plant_sourse {
    width: 280px;
  }
  .img_plant {
    margin-left: -19px;
  }
  .page_numbers {
    padding-top: 70px;
  }
  .product_card {
    max-width: 256px;
  }
  .second-block {
    flex-wrap: wrap;
  }
  .summer-product {
    max-width: 900px;
    padding-bottom: 30px;
  }
  .second-block {
    display: block;
  }
  .blog-plant {
    max-width: 400px;
  }
  .blog-plant-img {
    width: 400px;
  }
  .would {
    flex-wrap: wrap;
  }
  .registration-would {
    width: 100%;
    padding-left: 10px;
  }
  .pole {
    max-width: 500px;
  }
  .registration-would h2 {
    font-size: 24px;
  }
  .registration-would p {
    font-size: 15px;
    max-width: 600px;
  }
  .logo-footer {
    padding: 27px 20px 27px 23px;
  }
  .contacts {
    gap: 40px;
  }
  .info {
    gap: 80px;
  }
}
@media screen and (max-width: 768px) {
  header {
    background-size: 350px;
    background-position: left 110% top 70%;
  }
  .header {
    background-size: 130px;
    background-position: left 67% top 84%;
  }
  .list .punkt-spisok {
    padding: 8px 10px 25px;
  }
  .logo {
    width: 130px;
  }
  .container {
    padding: 30px 40px 52px;
  }
  .main-list_ul {
    gap: 20px;
    font-size: 14px;
  }
  .second_list {
    font-size: 14px;
    gap: 10px;
  }
  .product-card_img {
    width: 200px;
  }
  .product_card {
    max-width: 200px;
  }
  .product_cards {
    column-gap: 10px;
  }
  .blog-plant-img {
    width: 300px;
  }
  .blog-plant {
    max-width: 300px;
  }
  .registration-would {
    padding: 30px 0 0 10px;
  }
  .registration-would p {
    font-size: 12px;
  }
  .contacts {
    gap: 20px;
  }
  .logo-footer {
    padding: 27px 0 27px 10px;
  }
  .contacte p {
    font-size: 12px;
  }
  .info {
    gap: 25px;
  }
}
@media screen and (max-width: 541px) {
  .list {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .burger-lable {
    display: block;
    position: relative;
    height: 25px;
    width: 30px;
  }
  .burger-lable::after,
  .burger-lable::before,
  .burger-lable span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #3d3d3d;
    z-index: 2;
  }
  .burger-lable::before {
    content: "";
    top: 0;
  }
  .burger-lable::after {
    content: "";
    bottom: 0;
  }
  // .burger-lable::before .list{
  //   display: none;
  // }
  .burger-lable span {
    top: 11px;
  }
  .list {
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    z-index: 1;
    flex-direction: column;
    text-align: center;
  }
  #burger-toggle {
    top: 142px;
    bottom: 0;
  }
  #burger-toggle:checked ~ .list {
    display: flex;
  }
  #burger-toggle:checked ~ .container {
    padding: 0px 10px 52px;
  }
  header {
    background-size: 270px;
    background-position: left 110% top 70%;
  }
  .header {
    background-size: 110px;
    background-position: left 67% top 84%;
  }
  .Welcome {
    font-size: 9px;
  }
  .title {
    font-size: 30px;
    line-height: 30px;
    margin-top: 0;
  }
  .description {
    font-size: 9px;
    margin: 5px 0 30px 0;
  }
  .info {
    gap: 5px;
    flex-wrap: wrap;
  }
  .main {
    gap: 5px;
  }
  // .container {
  //   padding: 30px 10px 52px;
  // }
  .catgoriees_title {
    font-size: 14px;
    padding: 0px 0px 10px 15px;
  }
  .custom-checkbox {
    padding-left: 15px;
  }
  .categories {
    padding: 14px 0 377px 10px;
  }
  .categories {
    padding: 14px 0 377px 10px;
  }
  .product_card {
    max-width: 250px;
  }
  .product-card_img {
    width: 250px;
  }
  aside {
    max-width: 210px;
  }
  .img_plant_sourse {
    width: 250px;
  }
  .page_numbers {
    padding-top: 40px;
  }
  .blog-plant {
    max-width: 480px;
  }
  .blog-plant-img {
    width: 480px;
  }
  .pole {
    max-width: 300px;
  }
  .registration-would p {
    max-width: 400px;
  }
  .contacts {
    gap: 10px;
    flex-wrap: wrap;
  }
  .logo-footer {
    width: 100px;
  }
  .contacte {
    padding: 0 0 10px 10px;
  }
}

@media screen and (max-width: 320px) {
  .main-list_ul {
    display: none;
  }
  aside {
    max-width: 100px;
  }
  .categories_title {
    font-size: 13px;
    line-height: 13px;
    padding: 0px 0px 10px 0px;
  }
  .custom-checkbox {
    padding-left: 0;
  }
  .custom-check-icon {
    font-size: 11px;
    max-width: 100px;
  }
  .categories {
    padding: 14px 0 200px 10px;
  }
  .img_plant {
    margin-left: -9px;
  }
  .img_plant_sourse {
    width: 120px;
  }
  .container {
    padding: 20px 10px 52px;
  }
  .second_list {
    font-size: 11px;
    gap: 5px;
    /* display: none; */
  }
  .product-card_img {
    width: 150px;
  }
  .product_card {
    max-width: 150px;
  }
  .summer-product {
    max-width: 300px;
    flex-direction: column;
  }
  .blog-plant-img {
    width: 300px;
  }
  .blog-plant {
    max-width: 310px;
  }
  .advantages p {
    font-size: 17px;
  }
  .advantages h2 {
    font-size: 20px;
  }
  .pole {
    max-width: 150px;
  }
  .registration-would h2 {
    font-size: 17px;
  }
  .logo {
    width: 90px;
  }
  .button_login {
    font-size: 13px;
    padding: 5px 14px;
  }
  header {
    background-image: none;
  }
  .header {
    background-image: none;
  }
  .header_text {
    padding: 28px 0px 45px;
    max-width: 100%;
  }
}
@media screen and (max-width: 280px) {
  .blog-plant-img {
    width: 260px;
  }
  .blog-plant {
    max-width: 260px;
  }
  .pole {
    max-width: 120px;
  }
  .button_login {
    font-size: 11px;
    padding: 3px 12px;
  }
  .button_login img {
    width: 20px;
  }
  .button_shop {
    font-size: 12px;
    padding: 9px 22px;
  }
  .title {
    margin-top: 10px;
  }
  .description {
    font-size: 9px;
    margin: 5px 0 20px 0;
  }
  // .dropdown-list {
  // }
}
